body,
main {
  display: flex;
}
body {
  flex-direction: column;
  background-color: pink;
}
main {
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
  overflow-y: auto;
  background-color: aliceblue;
}
aside {
  flex: 1;
  overflow-y: auto;
}
.logo {
  font-size: 50px;
}
